parameters:
    jwt_private_key: '%env(resolve:JWT_PRIVATE_KEY)%'
    jwt_public_key: '%env(resolve:JWT_PUBLIC_KEY)%'
    core_service_name: '%env(CORE_SERVICE_NAME)%'
    core_service_secret: '%env(CORE_SERVICE_SECRET)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\Application\Auth\Handler\ServiceLoginHandler:
        arguments:
            $coreServiceName: '%core_service_name%'
            $coreServiceSecret: '%core_service_secret%'

    App\Infrastructure\Security\TokenService:
        arguments:
            $privateKeyPath: '%jwt_private_key%'
    
    App\UI\Http\EventSubscriber\:
        resource: '../src/UI/Http/EventSubscriber'
        tags: ['kernel.event_subscriber']
