security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        users_in_memory:
            memory:
                users:
                    admin:
                        password: '$2y$13$dx9iDZlyL9JAn4TLq1M/9e9Ejqzlw3nuNRL60a/w2.2ePlQRFZE7m'
                        roles: ['ROLE_USER']

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: users_in_memory
            stateless: false
            entry_point: null

            json_login:
                check_path: /login
                username_path: username
                password_path: password

            logout:
                path: /logout


    access_control:
        - { path: ^/me, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
