{% extends 'base.html.twig' %}

{% block title %}Hello DashController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/DashController.php</code></li>
        <li>Your template at <code>/app/templates/dash/index.html.twig</code></li>
    </ul>
</div>
        <button id="logout">logout</button>

<script type="module">
    import CoreAPI from './js/core.js';
    const api = new CoreAPI();
</script>

{% endblock %}
