{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<form id="login-form">
    <input type="text" id="username" placeholder="Usuario" />
    <input type="password" id="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>

<script type="module">
    // login.js
    import CoreAPI from './js/core.js';
    const api = new CoreAPI();
    document.getElementById('login-form').addEventListener('submit', async (e) => {
        e.preventDefault();

        try {
        await api.loginAuth(
            document.getElementById('username').value,
           document.getElementById('password').value
            );
        await api.loginCoreWithToken();
        window.location.href = '/dash'; // redirige a otro template

        } catch (err) {
            console.log(err.message);
        }
    });
</script>

{% endblock %}
